# Environment symlink created by `.envrc` for PyCharm.
.env/

# Nix's `result` symlinks when running `nix-build`.
result*

# Secrets file configuration
config/secrets.env

# Python cache files
__pycache__

# Ignore all the stuff in this directory
ignore/
