# Example secret configuration. Copy this file to `config/secrets.env` and fill
# in the secrets required to run the application.
#
# This process can also be automated of course given the right tools, but would
# likely depend on internet connectivity. This approach is good enough for most
# projects with a limited set of devs.

UNUSED_EXAMPLE_SECRET_VAR="See 1Password > Some Vault > Some secret"
